.editorconfig
.eslintignore
.eslintrc.js
.prettierrc
.wepycache
.wepyignore

#忽略上传的文件夹
# **/.vscode/**
**/.idea/**
**/build/**
**/lib/**
**/dist/**
**/static/**
**/node_modules/**
**/false/**

#忽略上传的文件
**/yarn.lock
**/.DS_Store
**/npm-debug.log
**/yarn-error.log
**/custom.json
**/ext.json

#IDE
**/*.iml
./src/ext.json
